/* Dandelion_Effects condition iph5
   UniAW6.2 By Ian Nicoll with credit to Dacal */

#windContainer > div {
    position: absolute;
    width: 100px;
    height: 100px;
	opacity: 0.0;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-timing-function: linear, ease-in;
}
#windContainer > div > img {
     position: absolute;
     width: 100px;
     height: 100px;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-timing-function: ease-in-out;
     -webkit-transform-origin: 50% -100%;
}
@-webkit-keyframes fade_seed {
    0%	 { opacity: 0; }
    10%	 { opacity: 0; }
	20%  { opacity: 1; }
    95%  { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes float_seed {
    0%	 { -webkit-transform: translate(-100px, 0px); }
    100% { -webkit-transform: translate(320px, -140px); }
}
@-webkit-keyframes float_seed2 {
    0%	 { -webkit-transform: translate(-300px, 0px); }
    100% { -webkit-transform: translate(520px, -300px); }
}
@-webkit-keyframes clockwiseSpin {
    0%	 { -webkit-transform: rotateZ(-40deg); }
    50%	 { -webkit-transform: rotateZ(+40deg); }
    100% { -webkit-transform: rotateZ(-40deg); }
}
@-webkit-keyframes counterclockwiseSpinAndFlip {
    0%	 { -webkit-transform: rotateZ(+40deg); }
    50%	 { -webkit-transform: rotateZ(-40deg); }
    100% { -webkit-transform: rotateZ(+20deg); }
}

#dandelion {
	position: absolute;
	background-size: 400px 400px;
	top: 205px;
	left: -30px;
	height: 275px;
	width: 275px;
	opacity: 0.0;
	-webkit-animation: dandelion_anim 3s ease-out 1 normal;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes dandelion_anim {
		0% { opacity : 0; }
		50% { opacity : 0; }
		100% { opacity : 1.0; }
}
