/* Thunderstorm condition iph5
   UniAW6.2 By Ian Nicoll with credit to Dacal */

@-webkit-keyframes wiper{
0%		{-webkit-transform:rotate(-115deg);}
60% 	{-webkit-transform:rotate(-115deg);}
70% 	{-webkit-transform:rotate(95deg);}
80% 	{-webkit-transform:rotate(-115deg);}
100% 	{-webkit-transform:rotate(-115deg);}}

#wiper{
	background-size:55px 300px;
	position:absolute;
	top:-20px;
	left:120px;
	height: 300px;
	width: 55px;
	-webkit-animation: wiper;	
	-webkit-transform-origin-x: 80%;
	-webkit-transform-origin-y: 3%;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
}

#trace {
	position: absolute;
	background-size: 320px 480px;
	top: 0px;
	left: 0px;
	height: 480px;
	width: 320px;
	-webkit-animation: fade_trace;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes fade_trace {
    0%	 { opacity: 0; }
	62% { opacity: 0; }
	70%	 { opacity: 0.6; }
	72%	 { opacity: 0.6; }
	80%	 { opacity: 0; }
    100% { opacity: 0; }
}

#water {
	position: absolute;
	background-size: 320px 480px;
	top: 0px;
	left: 0px;
	height: 480px;
	width: 320px;
	-webkit-animation: fade_water;
	-webkit-animation-duration: 10s;
    -webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes fade_water {
    0%	 { opacity: 0.0; }
    30%	 { opacity: 0.0; }
	63% { opacity: 1.0; }
	65%	 { opacity: 0.0; }
    100% { opacity: 0.0; }
}

#frameContainer > div {
    position: absolute;
	background-color: transparent;
	width: 320px;
	height: 133px;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear, ease-in-out;
}

#frameContainer > div > img {
     position: absolute;
    width: 320px;
    height: 133px;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-timing-function: ease-in-out;
     -webkit-transform-origin: 50% -100%;
}

#cloudContainer > div {
    position: absolute;
    width: 300px;
    height: 200px;
	opacity: 0.0;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-timing-function: linear, ease-in;
}
#cloudContainer > div > img {
     position: absolute;
     width: 300px;
     height: 200px;
}
@-webkit-keyframes fade {
    0%	 { opacity: 0; }
    10%	 { opacity: 0.5; }
	15%	 { opacity: 1; }
    85%  { opacity: 1; }
    95%  { opacity: 0.5; }
    100% { opacity: 0; }
}
@-webkit-keyframes float {
    0%	 { -webkit-transform: translateX(-50px); }
    100% { -webkit-transform: translateX(400px); }
}

#dropContainer > div {
    position: absolute;
    width: 8px;
    height: 12px;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-direction: normal, normal;
    -webkit-animation-timing-function: linear, ease-in-out;
}

#dropContainer > div > img {
     position: absolute;
     width: 8px;
     height: 12px;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-direction: alternate;
     -webkit-animation-timing-function: ease-in-out;
     -webkit-transform-origin: 50% -100%;
}

@-webkit-keyframes drop {
    0%	 { -webkit-transform: translate(0px, -10px); }
    100% { -webkit-transform: translate(0px, 568px); }
}

@-webkit-keyframes fadeDrop {
    0%	 { opacity: 0; }
	5%	 { opacity: 1; }
	95%  { opacity: 1; }
    100% { opacity: 0; }
}

#thunder {
	position: absolute;
	left: 0px;
    top: -20px;
	width: 320px;
	height: 480px;
	background-color: transparent;
	opacity: 0.0;
	-webkit-animation-name: thunder_animation;
    -webkit-animation-duration: 11s;
	-webkit-animation-iteration-count: infinite;	    
    -webkit-animation-delay: 6s;
}
@-webkit-keyframes thunder_animation {
	0% {opacity: 1.0;}
	30% {opacity: 0.0;}
	100% {opacity: 0.0;}
}

#thunder2 {
	position: absolute;
	left: 0px;
    top: -20px;
	width: 320px;
	height: 480px;
	background-color: transparent;
	opacity: 0.0;
	-webkit-animation-name: thunder2_animation;
    -webkit-animation-duration: 7s;
	-webkit-animation-iteration-count: infinite;	    
    -webkit-animation-delay: 4s;
}
@-webkit-keyframes thunder2_animation {
	0% {opacity: 1.0;}
	30% {opacity: 0.0;}
	100% {opacity: 0.0;}
}

#thunder3 {
	position: absolute;
	left: 0px;
    top: -20px;
	width: 320px;
	height: 480px;
	background-color: transparent;
	opacity: 0.0;
	-webkit-animation-name: thunder3_animation;
    -webkit-animation-duration: 8s;
	-webkit-animation-iteration-count: infinite;	    
    -webkit-animation-delay: 8s;
}
@-webkit-keyframes thunder3_animation {
	0% {opacity: 1.0;}
	30% {opacity: 0.0;}
	100% {opacity: 0.0;}
}

#Static_cloud {
	position: absolute;
	left: 0px;
    top: -8px;
	width: 320px;
	background-color: transparent;
	opacity: 0.0;
	-webkit-animation: Static_cloud_animation 40s linear 1 normal;
	-webkit-animation-fill-mode: forwards;   

}
@-webkit-keyframes Static_cloud_animation {
	0% {opacity: 0;}
	100% {opacity: 0.5;}
}

#circleContainer > div {
    position: absolute;
    width: 50px;
    height: 50px;
	opacity: 0.0;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-timing-function: linear, ease-in-out;
}
#circleContainer > div > img {
     position: absolute;
     width: 50px;
     height: 50px;
}
@-webkit-keyframes fade1 {
    0%	 { opacity: 1; }
	20%  { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes fade2 {
    0%	 { opacity: 1; }
	66%  { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes fade3 {
    0%	 { opacity: 0; }
	30%	 { opacity: 0; }
	75%  { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes fade4 {
    0%	 { opacity: 0; }
	50%	 { opacity: 0; }
	90%  { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes scale1 {
    0%	 {   -webkit-transform: scale(0); }
    5%	 {   -webkit-transform: scale(1); }	
    100% {   -webkit-transform: scale(0.5); }
}
@-webkit-keyframes scale2 {
    0%	 {   -webkit-transform: scale(0); }
    100% {   -webkit-transform: scale(2.0); }
}
@-webkit-keyframes scale3 {
    0%	 {   -webkit-transform: scale(0); }
    33%	 {   -webkit-transform: scale(0); }
    100% {   -webkit-transform: scale(1.5); }
}
@-webkit-keyframes scale4 {
    0%	 {   -webkit-transform: scale(0); }
    50%	 {   -webkit-transform: scale(0); }
    100% {   -webkit-transform: scale(1.0); }
}
